
$primary-color: #FFE7D2;
$secondary-color: #2F478F;
$white: #fff;
$tertiary-color: #58402c;
$font-size-link: 14px;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

// .row {
//   border: solid 1px black;

//   [class*=col] {
//   border: solid 1px black;
  
//   }

// }

a {
  color: #000;
  &:hover {
    text-decoration: none;
  }
    
  }

  .logo-img {
    width: 25px;
    vertical-align: middle;
  }

  ul {
    list-style-type: none;
    margin: 0;
  }

  h1 {
    color: $tertiary-color;
    font-size: 50px;
    line-height: 70px;
    margin-bottom: 30px;
  }

// header

.cookie {
    background-color: $primary-color;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      font-size: 12px;
      margin: 0;
    }
    a {
      color: $secondary-color;

      &:hover {
        text-decoration: none;
      }
    }
  }

header {
  border-bottom: solid 1px #BDB5AF;

  nav {
    padding: 20px 0;

    .logo {
      display: flex;
      align-items: center;
      height: 100%;

      a:hover {
        text-decoration: none;
        color: #000;
      }
    }

    .nav-menu {

      a {
      font-size: $font-size-link;
    }

    }
    ul {
      display: flex;
      justify-content: flex-end;
      align-items: center;
  
      li {
        margin-left: 35px;

        &:hover {

          a {
            text-decoration: none;
            color: $secondary-color;
          }
          
        }
  
        &.sign-up {
          padding: 4px 10px;
          border: solid 1px $secondary-color;
          border-radius: 8px;

          &:hover {
              background-color: $secondary-color;
              color: $white;

              a {
            color: $white;

              }
            }
  
          a {
            color: $secondary-color;
        
          }
        }
      }
    }
  }

}


// hero


#hero {
  padding: 100px 0;

  .hero-left {

    p {
      color: $tertiary-color;
      font-size: 22px;
      line-height: 30px;
      margin-bottom: 30px;
    }

    a {
      color: $tertiary-color;
      font-size: $font-size-link;
      display: block;

      i {
        font-size: 12px;
      }
    }

    a.button {
      background-color: $secondary-color;
      color: $white;
      padding: 7px 15px;
      border-radius: 7px;
      font-size: $font-size-link;
      transition: all .4s;
      margin-bottom: 15px;
      display: inline-block;

      &:hover {
        background-color: #233569;
      }
    }
    .col-xs-12 {
      padding-left: 15px;
    }

    span {
      margin: 0 15px;
      color: #DFDBD8;
    }
  }

  .hero-right {
    height: 350px;
    background-image: url(../img/illustration-main.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

}

// features
#features {
  background-color: $primary-color;
  padding: 80px 0;

  .features-title {
    text-align: center;
    color: $tertiary-color;

    h3 {
      font-size: 24px;
    }
  }
  .features-item {
    text-align: center;
    padding: 30px;
    height: 265px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

  
    img {
      max-width: 140px;

    }
  }

  .features-item-last {
    text-align: center;
    margin-top: 30px;

    img {
      max-width: 250px;
    }
  }
}




section {
  // background-color: lightcoral;
  
  // border: solid 1px black;
}