#features {
  background-color: $primary-color;
  padding: 80px 0;

  .features-title {
    text-align: center;
    color: $tertiary-color;
    
  }

  h3 {
      font-size: $font-size-title;
      color: $tertiary-color;

      &:last-child {
        margin-top: 80px;
      }
    }

  .features-item {
    text-align: center;
    padding: 30px;
    height: 265px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

  
    img {
      max-width: 140px;

    }
  }

  .features-item-last {
    text-align: center;
    margin-top: 30px;

    img {
      max-width: 250px;
    }
  }

  hr {
    margin: 80px 0;
  }
  
}
