.cookie {
    background-color: $primary-color;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      font-size: 12px;
      margin: 0;
    }
    a {
      color: $secondary-color;

      &:hover {
        text-decoration: none;
      }
    }
  }
  

header {
  
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: $white;
  transition: top .4s ease;

  nav {
    padding: 20px 0;
    border-bottom: solid 1px #BDB5AF;

    .logo {
      display: flex;
      align-items: center;
      height: 100%;

      a:hover {
        text-decoration: none;
        color: #000;
      }
    }

    .nav-menu {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      a {
      font-size: $font-size-link;
      }

      .hamburger {
        cursor: pointer;
        color: $tertiary-color;
        display: none;

        i {
          font-size: 18px;
        }
        
      }

    }
    
    .menu {
      display: flex;
      justify-content: flex-end;
      align-items: center;
  
      li {
        margin-left: 35px;
        position: relative;
        transition: all .4s;

        a {

          transition: all .4s;
          &:hover {
            text-decoration: none;
            color: $secondary-color;
          }
        }

        &.sign-up {
          padding: 4px 10px;
          border: solid 1px $secondary-color;
          border-radius: 8px;

          a {
            color: $secondary-color;
        
          }
        }
      }
    }

    .menu-tendina {
    border-radius: 6px;
    box-shadow: $shadow;
    padding: 5px 35px 5px 10px;
    position: absolute;
    top: 23px;
    left: -10px;
    z-index: 10;
    background-color: $white;
    display: none;

    li {
      margin: 0 0 10px 0;
    }
  }

  }

  .close {
    display: none;
  }

  .hamburger-menu {
    position: absolute;
    top: 67px;
    left: 0;
    width: 100%;
    background-color: $white;
    z-index: 20;
    box-shadow: $shadow;
    padding: 20px;
    display: none;
    
  
    span {
      display: block;
      width: 16px;
      height: 16px;
      background-color: $white;
      position: absolute;
      top: -9px;
      right: 13px;
      transform: rotate(45deg);
      border-top: solid 1px #BDB5AF;
      border-left: solid 1px #BDB5AF;
    }
    
    li {
      margin-top: 15px;
    }

    a {
      font-size: $font-size-link;
    }

    .button {
      display: block;
      text-align: center;
      background-color: $white;
      border: solid 1px $secondary-color;
      color: $secondary-color;

      &:hover {
        background-color: $secondary-color;
        color: $white;
      }
    }
  }

}