$primary-color: #FFE7D2;
$secondary-color: #2F478F;
$white: #fff;
$tertiary-color: #58402c;
$font-size-link: 14px;
$font-size-title: 24px;

@mixin button {

  background-color: $secondary-color;
  color: $white;
  padding: 7px 15px;
  border-radius: 7px;
  font-size: $font-size-link;
  transition: all .4s;
  margin-bottom: 15px;
  display: inline-block;
}

@mixin spanDivisor {
    margin: 0 15px;
    color: #DFDBD8;
}
